<!DOCTYPE html>
<html>
<head>
  <title>Globar Fire Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- d3 JS -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="dark-page">

<!-- Planet on fire icon -->
<a href="/"><img class="nav-planet" src="../static/images/planet-fire.png"></a>

<!-- Navigation -->
<!-- <nav role="navigation">
  <ul>
    <li id="button-style"><a href="news.html">Global Fire News</a></li>
    <li id="button-style"><a href="stats.html">Stats</a></li>
  </ul>
</nav> -->

<nav role="navigation">
  <ul>
    <li id="button-style"><a href="/news">Global Fire News</a></li>
    <li id="button-style"><a href="/stats">Stats</a></li>
    <li id="button-style"><a href="/predictions">Predictions</a></li>
    <li id="button-style"><a href="/data">Data</a></li>
    <li id="button-style"><a href="/developers">Developers</a></li>
  </ul>
</nav>

<div class="container" id='data-links'>
  <div class="row">
    <h1 id="data-head" class="font-weight-light text-white">Data Sources</h1>   
<table class="table table-hover table-dark" cellpadding="8">
  <tbody>
    <tr>
      <td scope="col" ><a id="links" href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms">NASA's Fire Information for Resource Management System</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://worldweatheronline.com">World Weather Online</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets">Twitter Search API</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api">RESTful API: Fire Data for Past 7 Days</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api3">RESTful API: Global News (Twitter)</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api/africa_historic_data">RESTful API: Historical Fire Data (2015-2019), Africa</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api/asia_historic_data">RESTful API: Historical Fire Data (2015-2019), Asia</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api/australia_historic_data">RESTful API: Historical Fire Data (2015-2019), Australia</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api/europe_historic_data">RESTful API: Historical Fire Data (2015-2019), Europe</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api/north_america_historic_data">RESTful API: Historical Fire Data (2015-2019), North America</a></td>
    </tr>
    <tr>
      <td scope="col" ><a id="links" href="http://flask-19.eba-9jgnz35i.us-east-2.elasticbeanstalk.com/api/south_america_historic_data">RESTful API: Historical Fire Data (2015-2019), South America</a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
  <!-- API key for Mapbox -->
<script type="text/javascript" src="../static/js/config.js"></script>
  <!-- JS -->
<script type="text/javascript" src="../static/js/logic.js"></script>
</body>
</html>